.container {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  color: white;
  overflow-x: hidden;
}
h1 {
  padding: 0;
  padding-top: 1rem;
  margin: 0;
  font-size: 5rem;
  text-align: center;
}
.carouselContainer {
  width: 100%;
  height: 20rem;
  display: flex;
  align-items: center;
}
.carousel {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}

.carouselItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  img {
    width: 80px;
  }
}
@media only screen and (max-width:768px) {
  h1{
    font-size: 2.5rem;
  }
}